.bgi{ 
    width: 100%;
        height: 400px;
        background-color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
}
.zhuneirong_a{
        display:block;
        background-color: rgb(238, 238, 238);
        background-size: auto;
        padding: 30px;
        max-width: 700px;
        min-height: 70vh;
        letter-spacing: 1px;
        line-height: 1.7;
}
.touxianglan_a{
    width: 100%;
        height: 160px;
        background-color: rgb(151, 26, 25);
        display: flex;
        align-items: center;
        justify-content: center;
}
.dibulan_a{
    width: 100%;
        height: 90px;
        background-color: rgb(151, 26, 25);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
a{
        display: flex;
        flex-direction: column;
        align-self: start;
}
body{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
}